{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue sur le site de votre village</h1>
<br>
<br>
<h3>Un peu d'histoire...</h3>
Des vestiges archéologiques témoignent d'une occupation humaine dès l'époque gallo-romaine. 
Relevant du bailliage de Bar-le-Duc, diocèse de Toul, située sur le plateau dominant la vallée de l'Ornain, 
la commune connaît une histoire étroitement liée à celles de Bar-le-Duc, la capitale du Barrois, même si un vieux dicton précise « à Bar le renom, à Behonne le Bon », cette « devise » s'appliquant à l'origine au pineau produit par les vignes du village. Dès 1907, le plateau entre Bar-le-Duc et Behonne est occupé par un terrain d'aviation. 
<br>
En 1913, des hangars d'aviation militaire y sont construits ; le trafic aérien cesse après la Seconde Guerre mondiale. Situé non loin de la ferme Sainte-Catherine, ce terrain d'aviation est occupé pour partie par le nouvel hôpital de Bar-le-Duc.
<br>
Il existe à Behonne une rue des Juifs, qui témoigne de la présence d'une communauté juive au Moyen Âge.
{% endblock %}