{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue sur le site de votre village</h1>
<br>
<h3>Un peu d'histoire...</h3>
<br>
Des vestiges archéologiques témoignent d'une occupation humaine dès l'époque gallo-romaine. 
Relevant du bailliage de Bar-le-Duc, diocèse de Toul, située sur le plateau dominant la vallée de l'Ornain, 
la commune connaît une histoire étroitement liée à celles de Bar-le-Duc, la capitale du Barrois, même si un vieux dicton précise « à Bar le renom, à Baldur le Bon », cette « devise » s'appliquant à l'origine au pineau produit par les vignes du village. Dès 1907, le plateau entre Bar-le-Duc et Baldur est occupé par un terrain d'aviation. 
<br>
En 1913, des hangars d'aviation militaire y sont construits ; le trafic aérien cesse après la Seconde Guerre mondiale. Situé non loin de la ferme Sainte-Catherine, ce terrain d'aviation est occupé pour partie par le nouvel hôpital de Bar-le-Duc.
<br>
Il existe à Baldur une rue des Juifs, qui témoigne de la présence d'une communauté juive au Moyen Âge.
<br>
<br>
<h3>La météo de votre village en direct</h3>
<br>
<br>
<iframe seamless width="888" height="336" frameborder="0" src="https://www.infoclimat.fr/public-api/mixed/iframeSLIDE?_ll=48.85341,2.3488&_inc=WyJQYXJpcyIsIjQyIiwiMjk4ODUwNyIsIkZSIl0=&_auth=Bx1RRlYoV3UDLlRjB3EAKQNrUGUMegkuC3cEZwlsBXgDaFAxAGBWMFI8UC0PIFVjUn9UN1liADAHbAZ%2BCHoAYQdtUT1WPVcwA2xUMQcoACsDLVAxDCwJLgtpBGoJYAV4A2FQMQBgVipSNVA6DyFVYFJiVD1ZeQAnB2UGZwhhAGAHZlE9VjVXMANvVDYHKAArAzZQMQxlCTMLbwRrCW0FZANkUDAAZlY3UjlQNg8hVWBSaVQ1WWMAOAdhBmIIZAB8B3tRTFZGVygDLFR0B2IAcgMtUGUMbQll
&_c=0e52c25485d0bbed6d1cf8c73ba4b3e1"></iframe>
<br>
<br>
<h3>Votre localisation en direct</h3>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10536.421728498404!2d6.17861505!3d48.68434885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47949873fb4e9999%3A0x454ee20d6d28cdb!2sGare%20de%20Nancy-Ville!5e0!3m2!1sfr!2sfr!4v1643285006193!5m2!1sfr!2sfr" 
width="888" height="336" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}